/* Add CSS Styling */
.first-button {
    background-color: #000;
    color: #fff;
}

.second-button {
    background: yellow;
}

.first-button, .second-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}